<!DOCTYPE html>
<html lang="en">
<head>
    <script src="data.js"></script>
    <meta charset="UTF-8">
    <title>HearthStone</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
    <link rel="stylesheet" type="text/css" href="miEstilo.css">
    <meta name="viewport" content="width=device-width">
</head>
<body onload="actualizarCantidadHeroes()">
<img src="images/logo_header.webp" class="logo">
<p>
    <input type="text" v-model="searchQuery" placeholder="Buscar...">
</p>
<p>Cantidad de Heroes: <span id="cantidad-heroes"></span></p>
<p>Primeros Puestos: <span id="cantidad-1st"></span> </p>
<div id="app">
    <div class="parent">
        <div class="card" v-for="hero in filteredItems">
            <h4>{{ hero.heroName }}</h4>
            <img :src="hero.heroImg" :alt="'Imagen de ' + hero.heroName" :style="{ filter: hero.firstPlace ? '' : 'grayscale(100%)' }">
        </div>
    </div>
</div>


<script>
    let app = new Vue({
        el: '#app',
        data: {
            searchQuery: '',
            heroes: datos
        },
        computed: {
            filteredItems() {
                return this.heroes.filter(hero =>
                    hero.heroName.toLowerCase().includes(this.searchQuery.toLowerCase())
                );
            },
        },
    })
</script>
</body>
</html>